# Entorno
NODE_ENV=development
PORT=3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=genera_un_hash_seguro_de_32_caracteres

# Base de Datos (Interna Docker & Externa TablePlus)
# Conexión interna de Docker usa el host "db"
DATABASE_URL=postgresql://postgres:nextprof_secure_pwd@db:5432/nextprof_db
# Conexión externa para tu Mac (TablePlus): postgresql://postgres:nextprof_secure_pwd@localhost:5432/nextprof_db

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID_PRO=price_...
# URL webhook Stripe: http://localhost:3000/api/stripe/webhook
# Eventos recomendados: checkout.session.completed, invoice.payment_succeeded,
# customer.subscription.updated, customer.subscription.deleted

# Inteligencia Artificial
OPENROUTER_API_KEY=sk-or-v1-...
DEEPSEEK_API_KEY=sk-...
GEMINI_API_KEY=AIzaSy...
PREFERRED_PRO_PROVIDER=deepseek # 'deepseek' o 'gemini'
